<app-your-project></app-your-project>
<div class="steps-requirements">
    <p-card>
        <ng-template pTemplate="title">
            Requisitos do Sistema
        </ng-template>
        <ng-template pTemplate="subtitle">
            Os requisitos do sistema são declarações feitas de 
            forma clara sobre o que o sistema deve ser capaz de fazer 
            para satisfazer as suas necessidades.
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="requisito1">Primeiro Requisito</label>
                    <input  type="text" required pInputText> 
                </div>
                <div class="p-field">
                    <label for="requisito2">Segundo Requisito</label>
                    <input type="text" required pInputText> 
                </div>
                <div class="p-field">
                    <label for="requisito3">Terceiro Requisito</label>
                    <input  type="text" required pInputText> 
                </div>
                <div class="p-field">
                    <label for="requisito4">Quarto Requisito</label>
                    <input  type="text" required pInputText> 
                </div>
                <div class="p-field">
                    <label for="requisito5">Quinto Requisito</label>
                    <input type="text" required pInputText> 
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-end">
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>