.navbar{
    display: flex;
    background-color: black;
}

.logo{
    text-align: center;
    img {
        max-width: 50%;
        z-index: 1000;
        height: auto;
    }

    .effect{
        box-shadow: 0px 4px 11px #18fffd;
        border-radius: 50%;
        width: fit-content;
    }
}

.navbar{
    height: 48px;
    background-color: black;
    position: fixed;
    width: 100%;
    button{
        background: transparent !important;
        border: none;
        i{
            color: white;
            font-size: 26px;
        }
    }
}

p-tabMenu {
    display: flex;
    justify-content: 100%;
    width: 100%;
    z-index: 1001;
}

::ng-deep.p-sidebar{
    background: black;
    box-shadow: -14px 63px 61px white;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    row-gap: 15px;
    li{
        display: flex;
        width: 100%;
        column-gap: 20px;
        color: white;
        font-size: 22px;
        i{
            font-size: 26px;
        }
    }
}
