<p-tabMenu [model]="items" class="navbar" *ngIf="!isMobile" [activeItem]="active"></p-tabMenu>
<div class="navbar" *ngIf="isMobile">
    <button (click)="display = !display" type="button" class="icon-button" *ngIf="isMobile">
        <i class="pi pi-list"></i>
    </button>
</div>
<p-sidebar [(visible)]="display" [modal]="true" [dismissible]="isMobile" [showCloseIcon]="true" [blockScroll]="true"
    *ngIf="isMobile">
    <div class="logo">
        <span class="effect">
            <img src="assets/images/logo.png">
        </span>
    </div>
    <br>
    <ul class="list">
        <li (click)="goTo(menu.routerLink, menu.url)" *ngFor="let menu of items">
            <i class="{{menu.icon}}"></i>
            {{menu.label | titlecase}}
        </li>
    </ul>
</p-sidebar>