<app-your-project></app-your-project>
<div class="steps-personal">
    <p-card>
        <ng-template pTemplate="title">
            Informações Pessoais
        </ng-template>
        <ng-template pTemplate="subtitle">
            Informe suas informações básicas para que possamos entrar em contato assim que analizarmos o seu sistema
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="nome">Nome</label>
                    <input  type="text" required pInputText> 
                </div>
                <div class="p-field">
                    <label for="telefone">Telefone</label>
                    <input type="text" required pInputText> 
                </div>
                <div class="p-field">
                    <label for="email">E-mail</label>
                    <input  type="text" required pInputText> 
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-end">
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>