<h1>Nossos projetos</h1>
<section id="projects">


    <!-- <img src="assets/images/logo.png" class="logo" alt=""> -->

    <div class="gallery">
        <p-galleria [value]="images" [numVisible]="4">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.previewImageSrc" style="height: 60vh; width: 100%; display: block;" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="p-grid p-nogutter p-justify-center" [ngClass]="{'background': !item.transparency}">
                    <img [src]="item.thumbnailImageSrc" />
                </div>
            </ng-template>
            <ng-template pTemplate="caption" let-item>
                <h4 style="margin-bottom: .5rem; color: #ffffff;">{{item.title}}</h4>
                <p>{{item.alt}}</p>
            </ng-template>
        </p-galleria>
    </div>
</section>
