:host{
    width: 100%;
    padding-top: 48px;
    color: white;
    height: 100vh;
    background: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(34,193,195,1) 100%);
}

#projects{
    flex-direction: row;
    display: flex;
    margin-top: 25px;
}

.logo{
    max-width: 200px;
    height: fit-content;
    margin-left: 25px;
}

h1{
    font-size: 41px;
    text-align: center;
}

.project-title{
    display: flex;
    justify-content: space-between;
    .title{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .logo {
        display: flex;
        align-items: center;
        img{
            max-width: 80px;
        }
    }
}

.gallery{
    width: 70vw ;
    display: flex;
    justify-content: center;
    width: 100%;
}

::ng-deep p-galleria{
    width: 70vw;
}

.p-grid{
    height: 90px;
    width: 90px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        display: block;
        width: 90%;
    }
}

.background{
    height: 80px;
    width: 80px;
    background: silver;
    border-radius: 50%;
    padding: 3px;
}

::ng-deep.p-galleria-thumbnail-item-content{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-item-content:focus{
    box-shadow: none !important;
}