<app-your-project></app-your-project>
<div class="steps-basic">
    <p-card>
        <ng-template pTemplate="title">
            Descrição Básica
        </ng-template>
        <ng-template pTemplate="subtitle">
            Faça uma descrição básica do que é projeto que você deseja
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="description">Descrição</label>
                    <textarea pInputTextarea></textarea>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-end">
                <p-button label="Próximo" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>

