<section id="home">
    <img class="logo" src="assets/images/logo.png">
    <div class="effect">
        <img src="assets/images/logo.png">
    </div>
    <ng-container *ngIf="!mobile">
        <ng-container *ngFor="let text of texts; let i = index;">
            <div class="typewriter anim-typewriter" *ngIf="i === position">
                {{text.label}}
                <!-- &nbsp;&nbsp;.&nbsp;&nbsp;.&nbsp;&nbsp;. -->
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="mobile">
        <ng-container *ngFor="let text of mobilesOnly; let i = index;">
            <div class="typewriter anim-typewriter" *ngIf="i === position">
                {{text.label}}
                <!-- &nbsp;&nbsp;.&nbsp;&nbsp;.&nbsp;&nbsp;. -->
            </div>
        </ng-container>
    </ng-container>
</section>
<!-- <section id="our-projects">
    <app-our-projects></app-our-projects>
</section>
<section id="team">
    <app-team></app-team>
</section> -->