:host{
    width: 100%;
}

section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#home{
    background: url('../../../assets/images/background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 48px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

// #our-projects{

// }

.logo {
    max-width: 25vw;
    z-index: 1000;
    height: auto;
    margin-top: 10%;
}

.effect{
    box-shadow: 0px 0px 40px #18fffd;
    position: absolute;
    border-radius: 50%;
    width: fit-content;
    animation-name: bright;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-top: 13%;
    img{
        opacity: 0;
        max-width: 20vw;
        margin-top: 0;
    }
}

.typewriter{
    top: 40vw;
    color: white;
    // font-weight: bold;
    font-size: 45px;
    overflow-x: hidden;
    white-space: nowrap;
    flex-wrap: wrap;
    text-align: center;
    max-width: fit-content;
    font-family: 'Pixel';
    border-right: 3px solid white;
    margin-top: 30px;
}

/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 0.6s steps(44) 7s normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 85%;}
}

@keyframes blinkTextCursor{
    from{border-right-color: white;}
    to{border-right-color: transparent;}
}

@keyframes bright{
    0%{
        box-shadow: 0px 0px 80px #18fffd;
    }
    50% {
        box-shadow: 0px 0px 20px #18fffd;
    }
    100%{
        box-shadow: 0px 0px 80px #18fffd;
    }
}

@media screen and (max-width: 1200px) {
    .effect{
        margin-top: 33%;
        img{
            max-width: 200px;
        }
    }
    .logo{
        margin-top: 30%;
        max-width: 250px;
    }
    .typewriter{
        top: 70vh;
    }
}

@media screen and (max-width: 767px) {
    #home{
        padding-top: 0px;
    }
    .typewriter{
        top: 50vh;
    }
}

@media screen and (max-width: 600px) {
    .effect{
        margin-top: 34%;
    }
    .typewriter{
        margin-top: 65px;
        max-width: 95vw;
    }
}

@media screen and (max-width: 472px) {
    .effect{
        margin-top: 35%;
    }
    .typewriter{
        font-size: 35px;
    }
}

@media screen and (max-width: 345px) {
    .typewriter{
        font-size: 30px;
    }
}
