// @import url('./assets/fonts/ConnectionIii-Rj3W.otf');

@font-face {
    font-family: 'bitdust1';
    src: local('bitdust1'), url('./assets/fonts/bitdust1.ttf') format("truetype");
}

@font-face {
    font-family: 'bitdust2';
    src: local('bitdust2'), url('./assets/fonts/bitdust2.ttf') format("truetype");
}

@font-face {
    font-family: 'Blazed';
    src: local('Blazed'), url('./assets/fonts/Blazed.ttf') format("truetype");
}

@font-face {
    font-family: 'Pixel';
    src: local('Pixel'), url('./assets/fonts/computer_pixel-7.ttf') format("truetype");
}


body, html {
    margin: 0;
    scroll-behavior: smooth;
    width: 100%;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    border-color: #be1522 !important;
    color: #be1522 !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    background: transparent !important;
    color: #ffffff !important;
    border: none !important;
    border-width: 0 !important;
    border-color: transparent !important;

}

.p-tabmenu .p-tabmenu-nav {
    background: #030000 !important;
    border: none !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus {
    box-shadow: none !important;
}

.p-tabmenu{
    border: solid #dee2e6;
    border-width: 0 0 2px 0;
    border-color: transparent transparent #dee2e6 transparent;
    width: 100%;
    position: fixed;
    z-index: 1001;
}